<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HARTS1Entities" connectionString="metadata=res://*/DataModel.Hearts.csdl|res://*/DataModel.Hearts.ssdl|res://*/DataModel.Hearts.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AVINASHKUMAR1;Initial Catalog=HARTS1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>